@* Ik weet niet waarom, maar als ik de style in een .css file zet dan doet de chat het niet meer. Dus daarom staat hij
  in deze file *@
@* @model IEnumerable<EenOpEenChat> *@
<head>
  <script type='text/javascript' src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!--<script type='text/javascript' src='http://0.0.0.0:8080/scaledrone.js'></script>-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <style>
    #chat {
      box-sizing: border-box;
      margin: 0;
      padding: 13px;
      display: flex;
      flex-direction: column;
      max-height: 100vh;
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }

    .members-count,
    .members-list,
    .messages {
      border: 2px solid;
      border-color: black;
      padding: 15px;
      margin-bottom: 15px;
    }

    .messages {
      flex-shrink: 1;
      overflow-y: scroll;
      height: 300px;
    }

    .message {
      padding: 5px 0;
    }

    .message .member {
      display: inline-block;
    }

    .member {
      padding-right: 10px;
      position: relative;
    }

    .message-form {
      display: flex;
      flex-shrink: 0;
      overflow-y: auto;
    }

    .message-form__input {
      flex-grow: 1;
      border: 2px solid;
      border-color: black;
      padding: 10px 15px;
      font-size: 16px;
    }

    .message-form__button {
      margin: 10px;
    }

    #form {
      font-family: Arial, Helvetica, sans-serif;
    }

    * {
      box-sizing: border-box;
    }

    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
      background-color: #FF0303;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 10%;
      right: 28px;
      width: 200px;
    }

    /* The popup form - hidden by default */
    .form-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }

    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: white;
    }

    /* Full-width input fields */
    .form-container input[type=text],
    .form-container input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }

    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus,
    .form-container input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

    /* Set a style for the submit/login button */
    .form-container .btn {
      background-color: #04AA6D;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px;
      opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover,
    .open-button:hover {
      opacity: 1;
    }
  </style>
</head>

<div id="chat">
  <div class="members-count">-</div>
  <div class="members-list">-</div>
  <div class="messages">
    @foreach (var item in @Model)
    {
        <p><i>[@item.verzendTijd] @item.ClientEmail: @item.Bericht </i></p>
    }
    <i>--Einde Geschiedenis--</i>
    <hr class="col-xs-12 border border-5 ">

  </div>



  <form action="javascript:void(0);" class="message-form" id="form2" onsubmit="addItem()">
    <input class="message-form__input" id="bericht" placeholder="Typ een bericht.." type="text" />
    <input class="message-form__button" value="Verstuur" type="submit" />
  </form>
  <input type="hidden" id="userInput" value='@ViewData["Verzender"]' />

  <button class="open-button" onclick="openForm()">Rapporteer Misbruik</button>

  <div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">

      <label for="Informatie"><b>Informatie</b></label>
      <p>Als je op de onderstaande knop drukt dan wordt je naar een nieuwe pagina gestuurd om misbruik te melden.<br>
        Schrijf daarom voordat je op de knop drukt het bericht en het emailadres op van degene waar het om gaat!</p>

      <a href="/MisbruikMelding/Create" class="btn btn-primary" aria-label="Klik hier om misbruik te melden!">Misbruik
        melden</a>
    </form>
  </div>

  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>

  <script src="../js/eenopeenchat.js"></script>

  <script>

    function addItem() {
      const bericht2 = document.getElementById('bericht');

      const now = new Date();
      const item = {
        ClientEmail: '@ViewData["Verzender"]',
        behandelaarEmail: '@ViewData["BehandelaarEmail"]',
        bericht: bericht2.value,
        uniekeID: '@ViewData["UniekeID"]',
        verzendTijd: now
      };

      fetch('/api/EenOpEenChatAPI', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(item)
      })
        .then(response => response.json())
        .catch(error => (console.log(error)));
    }
  </script>


</div>
